---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home" >
	<h1 class="text-6xl font-display bg-zinc-800 px-4 py-10 text-center rounded-xl border border-zinc-700 hover:scale-105">Coming soon...</h1>
</MainLayout>
